[Unit]
Description=Sphinx - SQL Full Text Search Engine
After=local-fs.target network.target mysqld.service

[Service]
User=sphinx
Type=forking
PIDFile=/var/run/sphinx/sphinx-searchd.pid
ExecStart=/usr/sbin/sphinx-searchd --config /etc/sphinx/sphinx.conf

[Install]
WantedBy=multi-user.target
